body {
	background: linear-gradient(to bottom right, #87CEEB, #1E90FF);
	font-family: sans-serif;
	color: #fff;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 20px;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
	margin: 0;
}

main {
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
}

.form-container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="email"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 100%;
	margin-bottom: 20px;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #1E90FF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #87CEEB;
}
